<form [formGroup]="formUrlBreaker" (ngSubmit)="breakUrl()">
  <label for="txtUrl">URL:</label>
  <input id="txtUrl" type="url" formControlName="url"/>
  <input type="submit" value="Load"/>
</form>

<ng-container *ngIf="track">
  <div class="bg-white shadow-xl rounded-md m-10 p-4">
    <div class="sm:flex sm:items-center">
      <img [src]="track?.album?.images[0]?.url" class="sm:flex-shrink-0 mx-auto sm:mx-0 h-40 rounded-md  border-solid border-grey border-2" alt="Album cover"/>
      <div class="sm:ml-4 sm:text-left text-center">
      <p class="text-xl">{{track?.name}}</p>
      <p class="text-sm text-gray-600">{{track?.artists[0]?.name}}</p>
      <p class="text-sm text-gray-600">{{track?.album?.name}}</p>
      </div>
    </div>
  </div>
</ng-container>

<pre>{{ track | json }}</pre>
