<div class="w-full h-full">
  <div class="absolute bottom-0 right-0 mr-2 mb-2">
    <div class="bg-white rounded-lg shadow-md px-1 py-1 border-1 border-gray-400">
      <div class="flex">
        <div class="p-2 rounded hover:bg-blue-100 text-blue-700">
          <a routerLink="/about">
            <i class="fas fa-info-circle"></i>
          </a>
        </div>
        <div class="p-2 rounded hover:bg-blue-100 text-blue-700">
          <a href="https://github.com/mfcar/MusicLinkSharing" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
