<li
  class="mb-3 mr-2 ml-2 flex justify-between items-center bg-white hover:bg-gray-200 shadow hover:shadow-2xl rounded-lg">
  <div class="container mx-auto max-w-xs rounded-lg overflow-hidden shadow-lg my-2 bg-white">
    <div class="relative mb-6">
      <img class="w-full" src="https://i.scdn.co/image/ab67616d00001e02cdac19bbaee5cc123edcc26f"
           alt="Profile picture"/>
      <div class="text-center absolute w-full" style="bottom: -30px">
        <button
          class="p-4 rounded-full transition ease-in duration-200 focus:outline-none bg-white shadow-lg  border-green-200 border-4">
          <img class="w-10 h-10 rounded-full" src="../../../assets/img/icons/spotify-128.png" alt="Spotify Icon">
        </button>
      </div>
    </div>
    <div class="py-2 px-3 text-center tracking-wide">
      <p>
        <span class="text-lg font-medium">Bridge Burning</span>
        <span class="ml-2 px-2 py-1 bg-red-600 text-sm text-white rounded">Explicit</span>
      </p>
      <p class="text-gray-500 text-base">Wasting Light</p>
      <p class="text-gray-500 text-sm">Foo Fighters</p>
    </div>
    <div class="py-1 px-3 text-center tracking-wide grid grid-cols-2 gap-6">
      <div class="duration">
        <p class="text-lg">324</p>
        <p class="text-gray-500 text-sm">Duration</p>
      </div>
      <div class="release">
        <p class="text-lg">7542</p>
        <p class="text-gray-500 text-sm">Released</p>
      </div>
    </div>
  </div>
</li>
