<li
  class="m-3 flex justify-between items-center bg-white hover:bg-gray-200 shadow hover:shadow-2xl rounded-lg" *ngIf="trackInfo">
  <div class="container mx-auto max-w-xs rounded-lg overflow-hidden shadow-lg my-2 bg-white">
    <div class="relative mb-6">
      <img class="w-full" [src]="trackInfo.albumArtworkUrl"
           alt="Profile picture"/>
      <div class="text-center absolute w-full" style="bottom: -30px">
        <button
          class="p-4 rounded-full transition ease-in duration-200 focus:outline-none bg-white shadow-lg  border-green-200 border-4">
          <i class="fab fa-spotify fa-3x"></i>
        </button>
      </div>
    </div>
    <div class="py-2 px-3 text-center tracking-wide">
      <p>
        <span class="text-lg font-medium">{{trackInfo.trackName}}</span>
        <span class="ml-2 px-2 py-1 bg-red-600 text-sm text-white rounded" *ngIf="trackInfo.explicit">Explicit</span>
      </p>
      <p class="text-gray-500 text-base">{{trackInfo.albumName}}</p>
      <p class="text-gray-500 text-sm">{{trackInfo.artist}}</p>
    </div>
    <div class="py-1 px-3 text-center tracking-wide grid grid-cols-2 gap-6">
      <div class="duration">
        <p class="text-lg">{{trackInfo.duration}}</p>
        <p class="text-gray-500 text-sm">Duration</p>
      </div>
      <div class="release">
        <p class="text-lg">7542</p>
        <p class="text-gray-500 text-sm">Released</p>
      </div>
    </div>
  </div>
</li>
