<ul class="w-full max-w-md mt-3">
  <app-link-search-card (loading)="receiverLoading($event)" (resultError)="receiverResultError($event)" (resultSuccess)="receiverResultSuccess($event)"></app-link-search-card>
  <ng-container *ngIf="isLoading">
    <app-loading-card [loadingText]="loadingText"></app-loading-card>
  </ng-container>
  <ng-container *ngIf="hasError">
    <app-error-card [errorText]="errorText"></app-error-card>
  </ng-container>
  <ng-container *ngIf="hasResult">
    <app-track-info-card [trackInfo]="trackInfo"></app-track-info-card>
    <app-service-share-link-card></app-service-share-link-card>
  </ng-container>
</ul>
